@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Contoso Univeristy</h2>
        <p>
            This is a simple application
        </p>
    </div>
    <div class="col-md-4">
        <a class="btn btn-primary" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html" target="_blank">
            Click here for the tutorial
        </a>
    </div>
    <div class="col-md-4">
        <a class="btn btn-primary" href="https://github.com/aspnet/docs/tree/master/aspnet/data/ef-mvc/intro/samples/cu-final" target="_blank">
            Download the final project here
        </a>
    </div>
</div>